@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

@media (prefers-color-scheme: dark) {
  :root {
    --background: #0a0a0a;
    --foreground: #ededed;
  }
}

body {
  background-color: #332F47;
  font-family: 'cfont', sans-serif; /* 기본 폰트 설정 */
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

.w-1080 {
  width: 1080px;
}
.h-1075 {
  height: 1075px;
}

@font-face {
  font-family: 'cfont';
  src: url('/fonts/국립박물관문화재단클래식M.ttf') format('truetype'),
       url('/fonts/국립박물관문화재단클래식M.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}


code {
  font-family: 'cfont', monospace; /* 코드 블록의 기본 폰트 설정 */
}
