@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --background: #ffffff;
  --foreground: #171717;
}

body {
  background-color: #332F47;
  font-family: 'cfont', sans-serif; /* 기본 폰트 설정 */
}

@font-face {
  font-family: 'cfont';
  src: url('/fonts/Classic_font.ttf') format('truetype'),
       url('/fonts/Classic_font.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.bg {
  background-image: url('./images/baseImage.png');
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}

.indexImage{
  background-image: url("./images/Title.png");
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat
}